[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
undetected-chromedriver = "~=3.5"
loguru = "~=0.7"
psutil = "~=5.9"
python-dotenv = "~=1.0"
webdriver-manager = "~=4.0"

[dev-packages]

[requires]
python_version = "3.10"
